* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik Bubbles", serif;
    background-color: #3e79df;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 10px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    background-color: #f6f6fb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.movie-card img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #a1b9e3;
}

.watchlist {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.watchlist .movie-card {
    flex: 1 0 21%;
}