body {
    font-family: "Rubik Bubbles", serif;
    background-color: #2c18df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-app {
    background-color: #bdc9f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 700px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button,
#current-location,
#toggle-unit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
}

#suggestions {
    margin-top: 5px;
}

#current-weather {
    text-align: center;
    margin-bottom: 20px;
}

#weather-icon {
    width: 80px;
    height: 80px;
}

#forecast {
    text-align: center;
}

#forecast-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forecast-card {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}